@import '../_palette.styl'


.exploreView
  .explore-container
    float: left
    width: 80%
    margin: 0 10%
    background-color: (bgColor - 30%)
    border: 1px solid (bgColor - 30%)
    .explore-note
      margin: 1em 0
      padding: 0 1em
      float: left
    .explore-list
      float: left
      list-style-type: none
      margin: 0
      padding: 0
      width: 100%
      background-color: bgColor - 15%
      li
        padding: 0 0.5em
        font-size: 1.5em
        line-height: 1.75em
      li:nth-child(odd)
        background-color: bgColor - 13%

