transform(args...)
   -webkit-transform args
   -moz-transform args
   transform args

animation(args...)
  -webkit-animation args
  -moz-animation args
  animation args

transition(args...)
  -webkit-transition args
  -moz-transition args
  transition args
